/* general style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d9 15%,
        #dfe0d9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-width: 900px;
    height: 90%;
    background: #fff;
}

.display {
    height: 100%;
}

/* SECTION-LEFT */
/* header-left */
.header-left,
.section-serch { 
    background-color: #ededed;
}

.section-profile .img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.section-profile .img-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.section-profile p {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.section-icons .font-list {
    display: flex;
    list-style: none;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    color: #bababa;

}

/* section-search */
.search-icon {
    background-color: #a2dffe;
}

.search-icon .inconImg-search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.search-icon .inconImg-search i {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a2dffe;
}

.search-icon .text-search p {
    margin-bottom: 0;
}

.search-icon .text-search a {
    color: #7099af;
    font-size: 0.8rem;
}

.input-search .search-Icons i{
    color: #c7cacc;
}

.contatti {
    background-color: #fff;
    border-bottom: 1px solid #c7cacc;
}

.contatti {
    cursor: pointer;
}

.contatti:hover {
    background-color: lightgrey;
}

.contatti:last-child {
    border-bottom: none;
}

/* SECTION-RIGHT */
/* header-right */
.section-right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-right {
    background-color: #ededed;
}

.section-right .img-chat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.section-right .img-chat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-profile .text-chat p {
    margin-bottom: 0;
}

.chat-profile .text-chat p:last-child {
    font-size: 0.7rem;
    color: #c7cacc;
}

.section-right .font-chat {
    display: flex;
    list-style: none;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    color: #bababa;
}

/* main-right */
.main-right {
    background-image: url('../img/mine.jpg');
    flex-grow: 1;
    height: 80%;
    display: flex;
}

.main-right .message{
    display: flex;
    flex-direction: column;
}

.main-right .message .received {
    align-self: flex-start;
    background-color: #fff;
    border-radius: 10px;
}

.main-right .message .sent {
    align-self: flex-end;
    background-color: #ddfabf;
    border-radius: 10px;
}

.sent p:last-child,
.received p:last-child {
    color: lightgrey;
    font-size: 0.7rem;
    margin-bottom: 0;
}

/* footer */
.chat-footer {
    display: flex;
    justify-content: space-between;
}

.chat-footer .footer-icon {
    padding: 0 20px;
    font-size: 1.5rem;
    vertical-align: middle;
    color: #bababa;
}

.chat-footer .footer-input {
    flex-grow: 1;
}





